<div class="row">
  <div class="">
    <div class="btn waves-effect waves-light petro-green">
      <a id="download" >Dowload</a>
    </div>
    <label>Seu arquivo está pronto basta fazer o download!</label>
  </div>
</div>
<br />
<p id="json"><%= @json %></p>

