/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "material_icons";

.petro-green {
  background-color: #008542;
}

.petro-green:hover {
  background-color: #008542;
}

.petro-yellow {
  background-color: #fdc82f;
}
.petro-yellow:hover {
  background-color: #fdc82f;
}

.title-yellow {
  color: #fdc82f;
}

.petro-green-input {
  border-color: #008542;
}

.petro-green-input:focus{
  border-color: #008542 !important;
}

.submit-text{
  color: white;
  font-weight:bold;
}
